<div class="container-fluid discussionWrapper">
    <div ng-repeat="question in discussion.questions" class="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-10 qa">
                    <div class="row">
                        <div class="col-md-10">
                            <p>{{question.userName}}</p>
                            <p>{{question.createdDate | date: 'MM/dd/yy'}}</p>
                            <h4>{{question.text}}</h4>
                        </div>
                        <div class="col-md-1">
                            <a ng-click="discussion.upVoteQuestion(question.moduleQuestionId)">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{question.upVote}}</span>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a ng-click="discussion.downVoteQuestion(question.moduleQuestionId)">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">{{question.downVote}}</span>
                            </a>
                        </div>
                    </div>
                    <!--                     <div class="col-md-12">
                        <h4 class="text-right"><a ng-click="toShow =!toShow">Click for Answers!</a></h4>
                    </div> -->
                    <div ng-repeat="answer in question.moduleAnswers">
                        <div class="answerRow">
                            <div class="col-md-10">
                                <p>Answer {{$index + 1}}</p>
                                <h4>{{answer.text}}</h4>
                                <p>{{answer.userName}}</p>
                                <p>{{answer.createdDate | date: 'MM/dd/yy'}}</p>
                            </div>
                            <div class="col-md-1">
                                <a ng-click="$parent.discussion.upVoteAnswer(answer.moduleAnswerId)">
                                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true">{{answer.upVote}}</span>
                                </a>
                            </div>
                            <div class="col-md-1">
                                <a ng-click="$parent.discussion.downVoteAnswer(answer.moduleAnswerId)">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">{{answer.downVote}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
